.navbar {
    background-color: #6939c2;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar li {
    padding-left: 7px;
    padding-right: 7px;
    background-color: #6939c2;
    border: 1px solid #6939c2;
}

.navbar li:hover {
    background-color: #9761fb;
    border: 1px solid #9761fb;
}